<%= form_for(@song) do |f| %>
  <label>Genre Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Genre id:</label>
  <%= f.text_field :genre_id %><br>

  <label>Artist id:</label>
  <%= f.text_field :artist_id %><br>

  <%= f.submit %>
<% end %>
